@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --borcelle-red: #c62828;
  --borcelle-gold: #f6c65a;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fffae4; 
  color: #000000; 
  margin: 0;
  padding: 0;
  min-height: 100vh; /* ocupa toda a tela */
   
}
